{{ define "footer" }}
			<!-- Footer -->
      <div id="footer-wrapper">
        <footer id="footer" class="container">
          <div class="row">
            <div class="col-12">
              <div id="copyright">
                <ul class="menu">
                  <li>Ismagulov A. &copy; 2023</li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div>

    </div>

  <!-- Scripts -->

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.dropotron.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>

</body>
</html>
{{ end }}